APP_ENV=local
AI_INTERVIEW_MODEL=REPLACE_WITH_WORKERS_AI_CHAT_MODEL
AI_EVALUATION_MODEL=REPLACE_WITH_WORKERS_AI_EVALUATION_MODEL
AI_REPORT_MODEL=REPLACE_WITH_WORKERS_AI_REPORT_MODEL
AI_TRANSCRIPTION_MODEL=REPLACE_WITH_WORKERS_AI_STT_MODEL
SESSION_SUMMARY_MAX_TOKENS=1200
REPORT_MAX_TOKENS=2200
